<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.SyncTabs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SyncTabs</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string> <!-- 1.0 -->
	<key>CFBundleVersion</key>
	<string>7</string> <!-- 123 -->
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Mark Frömberg (@mark2mark) and Toshi Omagari (@Tosche), 2025</string>
	<key>NSPrincipalClass</key>
	<string>SyncTabs</string>
</dict>
</plist>
